@model List<ProductServiceModel>


@{ ViewBag.Title = "Welcome!"; }

<div>
    <div style="background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-japanese-simple-cherry-blossom-theme-pink-background-illustration-image_190376.jpg);">
        <div class="homeLogo">
            <div>
                <p>Welcome to <br><u>Anime Heaven</u></p>
            </div>
        </div>
    </div>

    <table class="center">
        <tr>
            <td width="25%">
                <div><img class="card-img-top" src="https://i.ibb.co/2SzxhRh/ahriHi.jpg" alt="Card image cap"></div>
            </td>
            <td width="60%">
                <p class="spanproba" style="text-align:center">Newest products</p>
                <div style="display: table;">
                    <div style="display: table-row">
                        @foreach (var product in Model)
                        {
            <div class="card" style="width: 18rem; display:table-cell;">
                <img class="card-img-top" src="@product.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text nameDescription">@product.Name - @product.AnimeOrigin</p>
                    <p class="card-text nameDescription">@product.CategoryName</p>
                    <p class="card-text priceTag">Price: @product.Price €</p>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary"> More Details </a>
                </div>
            </div>}
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="linkAll">
        <a class="all-product-link float-xs-left float-md-right h4" asp-controller="Products" asp-action="All">
            All new products<i class="material-icons">&#10132;</i>
        </a>
    </div>
</div>