@model ProfileShoppingCartServiceModel

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="col-md-9 center">
            <div class="panel panel-info panel-shadow">
                <div class="panel-heading">
                    <h3>
                        <u> @Model.FullName</u>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><strong>Product</strong></th>
                                    <th><strong>Description</strong></th>
                                    <th><strong>Anime</strong></th>
                                    <th></th>
                                    <th><strong>Price</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td><img src=@product.ImageUrl class="img-cart"></td>
                                        <td><strong>@product.Name</strong><p>@product.Description</p></td>
                                        <td>@product.AnimeOrigin</td>
                                        <td>
                                            @using (Html.BeginForm("RemoveFromShoppingCart", "ShoppingCart", new { id = product.Id }))
                                            {
                                                <button class="btn btn-danger mt-3">Remove</button>
                                            }
                                        </td>
                                        <td>@product.Price $</td>
                                    </tr>
                                }
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Total Product</strong></td>
                                    <td><strong>@Model.TotalPrice $</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Total Shipping</strong></td>
                                    <td><strong>Free</strong></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Total</strong></td>
                                    <td><strong>@Model.TotalPrice $</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-center">
                @using (Html.BeginForm("BuyProducts", "ShoppingCart"))
                {
                    <button class="btn btn-success mt-3">Buy Products</button>
                }
            </div>
        </div>
    </div>
</div>